/* GENERAL STYLE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Courier, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.site-wrapper {
    flex: 1 0 auto; 
}






/* HEADER STYLE */

header {
    background-color: rgb(25, 25, 25);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-content{
    color: #fff;
    width: 100%;
    max-width: 1400px; 
    margin: 10px auto;
    align-self: center;
}




/* PRESENTATION STYLE */

.content-wrapper-description {
    width: 100%;
    max-width: 1400px; 
    margin: 10px auto;
    align-self: center;
}

.description {
    background-color: #fff;
    padding: 20px;
    max-width: 1400px;
    text-align: left; 
}





/* OTHER STYLE */

nav {
    line-height: 1.6;
    color: #333; 
    background-color: #fff; 
    padding: 50px;
}

body {
    display: flex;
    flex-direction: column; 
}

footer {
    color: #fff;
    text-align: right;
    background-color: rgb(25, 25, 25);
    padding: 20px;
    width: 100%;
}

.content-wrapper {
    max-width: 1400px; 
    margin: 10px auto;
    padding: 0 20px; 
}

.feature-boxes {
    display: flex; 
    gap: 20px;     
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.feature-box {
    flex: 1 1 300px; 
    
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(25, 25, 25);
}

.box-button {
    text-align: right;    
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;  

    background-color: rgb(25, 25, 25);
    color: white !important; 
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.1;
}

.cta-button:hover {
    color: rgb(24, 24, 24) !important; 
    background-color: #ffcc00;
}



/* SKILLS PAGE STYLE */

.skill-title {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 350px;
}

.right-column {
    flex: 2 1 600px; 
}

.skill-box {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(25, 25, 25);
    height: 100%;
}